  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: rgb(0, 0, 0);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
  }
  canvas {
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
  }
  .text-box {
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 7px;
    word-spacing: 12px;
    text-transform: uppercase;
    color:rgb(238, 238, 238);
  }
  .button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: row;
  }
  .button {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    margin-left:20px;
    margin-right:20px;
    word-spacing: normal;
    letter-spacing: 5px;
    border: 1px solid white;
    background: rgb(0, 0, 0);
    cursor: pointer;
  }

  html {
    scroll-behavior: smooth;
  }
  a {
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    margin-left:20px;
    margin-right:20px;
    word-spacing: normal;
    letter-spacing: 5px;
    border: 1px solid white;
    background: rgb(0, 0, 0);
    cursor: pointer;
  } 
  #aboutme {
    margin-top: 100%;
    padding-bottom: 25%;
    color: aliceblue;
  } 